<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="tech-index.html"><img src="images/version/tech-logo.png" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news:home' %}">خانه</a>
            </li>
            <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">دسته بندی</a>
                <ul class="dropdown-menu " >
                    <li>
                        <div class="container">
                            
                                <div class="tab">
                                    {% for cat in categories %}
                                        <a class="link-dark" role="button" href=" {% url 'news:post_category' cat.id %}">{{cat.title}}</a>
                                        <br/>
                                    {% endfor %}
                                    
                                </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tech-category-01.html">Gadgets</a>
            </li>                   
            <li class="nav-item">
                <a class="nav-link" href="tech-category-02.html">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tech-category-03.html">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tech-contact.html">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
            </li>
        </ul>
    </div>
</nav>